.container_projects{
    height: 100vh;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
    
}

.title_projects{
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}
.title_projects2{
    font-size: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    
    @media screen and (max-width: 768px) {
       display:none
      }
}

.left{
    flex: 2;
  display: inline;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

}

.phoneScreen{
    width: 264px;
    height: 567px;
    background-color: aqua;
    position: relative;
    top: -587px;
    
    left: 18px;
    border-radius: 28px;
     overflow: scroll;
    /* scroll inside of screen */
}
.phoneScreen::-webkit-scrollbar{
    display: none;
}

.phoneApp{
    width: 100%;
    height: 100%;
    
} 

