.section_header{
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 768px) {
        height: 100vh;
      }
   

    
}

.container_header{
    height: 100vh;
    scroll-snap-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
}

.title_container{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
    @media screen and (max-width: 768px) {
        flex: 1;
        align-items: center;
      }

}

.title_container h1{
    font-size: 60px;

    @media screen and (max-width: 768px) {
        text-align: center;
        font-size: 20px
      }
}
.img_container{
    flex: 3;
    position: relative;

    @media screen and (max-width: 768px) {
        flex: 1;
        width: 100%;
      }
    
}
.button{
    background-color: aqua;
    color: black;
    font-weight: 700;
    width: 100px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium';
    border: none;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
}
.img_container img{
    width: 800px;
    height: 400px;
    object-fit: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
      @media screen and (max-width: 768px) {
        .img_container img{
          width: 300px;
        height: 300px;
      }}
    
}






