.container_navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;

    @media screen and (max-width: 550px) {
        width: 100%;
        padding: 10px;
      }

    


}
.section_navbar{
    display: flex;
    justify-content: center;
    @media screen and (max-width: 550px) {
        width: 100%;
      }
    
}
.list{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Arial Black';

    @media screen and (max-width: 550px) {
        display: none;
      }
    
}

.links{
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo{
    height: 50px;
}
