.App {
  height: 100vh;
  display: flex;
  scroll-behavior: smooth;
  overflow-y: auto;
  scrollbar-width: none;
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  
  
  /* background: url("./components/Assets/bg1.png") */
  
  
}


.App::-webkit-scrollbar{
  display: none;
}